# Python
__pycache__/
*.py[cod]
*.log

# Django
*.pyc
db.sqlite3  # Not used in your case but common

# PostgreSQL settings (just in case)
*.pgdata/
*.pgsql/
*.dump

# Virtual environment
.venv/

# Environment variables / Secrets
.env

# VS Code settings
.vscode/
